.prdTitle.bg {
  margin: 10px 0;
}
.prdTitle {
  text-align: center;
  padding: 30px 0;
  text-transform: uppercase;
  position: relative;
}
.prdTitle h2 {
  font-size: 27px;
  margin: 5px 0;
  position: relative;
  background: #fff;
}
.prdTitle .title-name {
  position: relative;
  z-index: 2;
  background: #fff;
  padding: 0 15px;
}
.prdTitle .title-line {
  height: 2px;
  width: 100%;
  background: #000;
  display: block;
  position: absolute;
  top: 50%;
  z-index: 1;
}
.blockSlide {
  float: left;
  width: 100%;
  margin-bottom: 40px;
  padding-left: 200px;
  padding-right: 200px;
}
